.poke-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .poke-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .poke-info p {
    margin: 5px 0;
  }
  
  .close {
    align-self: flex-end; /* Coloca a imagem no canto direito */
    margin-left: auto; /* Garante que a imagem fica no final da linha */
  }
  
  .poke-img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ecf0f1;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}