.card_pokemon {
    
    border: 1px solid #bdc3c7;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border-radius: 12px;
}

.card_pokemon:hover {
    transform: scale(1.05);
}

.card_pokemon img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ecf0f1;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card_pokemon p {
    margin: 15px 0;
    font-size: 18px;
    color: #34495e;
}


.grass{
    background-color: #78C850;
}

.fire{
    background-color: #F08030;
}

.water{
    background-color: #6890F0;
}

.bug{
    background-color: #A8B820;
}

.normal{
    background: #A8A878;
}

.poison{
    background: #A040A0;
}

.electric{
    background: #F8D030
}

.ground{
    background: #E0C068;
}

.fairy{
    background: #EE99AC;
}

.fighting{
    background: #C03028;
}

.psychic{
    background: #F85888;
}

.rock{
    background-color: #B8A038;
}

.ghost{
    background-color: #705898;
}

.ice{
    background-color: #98D8D8;
}

.dragon{
    background: #7038F8;
}

.dark{
    background: #705848;
}

.steel{
    background: #B8B8D0;
}

.flying{
    background: #A890F0;
}